<div class="row">
  <div class="col-md-6">
    <div class="form-group">
      <!--<label for="mail" class="col-sm-3 control-label">Besøker</label>
      <div class="col-sm-9">-->
      <div class="input-group">
        <input type="text" class="form-control" name="visit" ng-model="searchFor" ng-keyup="search()" placeholder="Hvem søker du?">
<span class="input-group-btn">
        <button type="button" class="btn btn-default" ng-click="reset()">
          <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
        </button>
      </span>
      </div>

      <select class="form-control" size="25" name="employees" ng-model="selectedEmployee" ng-options="e.navn.fornavn + ' ' + e.navn.etternavn group by e.avdeling for e in employees">
      </select>

    </div>

  </div>
  <div class="col-md-6">
    <div class="panel panel-default" ng-show="selectedEmployee">
      <div class="panel-body">

        <p>
          <img src="images/mann.png" alt="Profilbilde" class="img-circle" width="100" ng-show="isMale(selectedEmployee)">
          <img src="images/kvinne.png" alt="Profilbilde" class="img-circle" width="100" ng-show="!isMale(selectedEmployee)">
        </p>


        <table class="table table-borded table-striped">
          <tr>
            <th>Fornavn</th>
            <td>
              {{selectedEmployee.navn.fornavn}}
            </td>
          </tr>
          <tr>
            <th>Etternavn</th>
            <td>
              {{selectedEmployee.navn.etternavn}}
            </td>
          </tr>
          <tr>
            <th>Mobil</th>
            <td>
              {{selectedEmployee.kontaktinformasjon.mobiltelefonnummer}}
            </td>
          </tr>
          <tr>
            <th>Epost</th>
            <td>
              {{selectedEmployee.kontaktinformasjon.epostadresse}}
            </td>
          </tr>
          <tr>
            <th>Avdeling</th>
            <td>
              {{selectedEmployee.avdeling}}
            </td>
          </tr>

        </table>
      </div>
    </div>
  </div>
</div>
